@model RestraurantADMIN.Models.FoodItemCategoryMasters

@{
    ViewBag.Title = "FoodItemCategory";
    Layout = "~/Views/Shared/_RestaurantADMINLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">@ViewBag.Title</div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="/Master/FoodItemCategoryList" class="btn btn-info" style="color:white;">FIC List</a><br /><br />

                    @using (Html.BeginForm("FoodItemCategory", "Master", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form" }))
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="hidden" name="HdnId" value="@Model.pk_intFoodItemCategoryId" />
                                    <label for="exampleInputEmail1">Category Name</label>
                                    <input type="text" class="form-control" value="@Model.strCategoryName" id="txtCategoryName" name="txtCategoryName" aria-describedby="emailHelp" placeholder="Category Name">
                                    <small style="color:red;">@ViewBag.Result</small>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInputEmail1">Category Code</label>
                                    <input type="text" class="form-control" value="@Model.strCategoryCode" id="txtCategoryCode" name="txtCategoryCode" aria-describedby="emailHelp" placeholder="Category Code">
                                </div>
                                <div class="col-md-3">
                                    <div class="text-center" style="margin-top:30px;">
                                        @if (Model.pk_intFoodItemCategoryId > 0)
                                        {
                                            <button type="button" class="btn btn-purple" onclick="btnInsUp();">Update</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-success" onclick="btnInsUp();">Submit</button>
                                        }
                                        <button type="button" class="btn btn-warning">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function btnInsUp() {
        if (validation() == true) {
            document.getElementById('form').submit();
        }
    }
    function validation() {
        if ($('#txtCategoryName').val() == '') {
            toastr.warning('Fill Category Name.')
            return false;
        } else if ($('#txtCategoryCode').val() == '') {
            toastr.warning('Fill Category Code.')
            return false;
        }
        else {
            return true;
        }
    }
</script>
